@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Biryani:400,600,900|Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 1200px;
  height: 675px;
  background-color: black;
  opacity: 1;
}

.stage {
  position: relative;
  box-shadow: 0px 0px 15px 5px rgba(255, 34, 33, 0.5);
  height: 675px;
}

.dialog {
  position: absolute;
  display: block;
  height: 55px;
  width: 1176px;
  top: 595px;
  padding: 10px;
  border: 2px solid #ff2221;
  background-color: #ffffff;
}

.next-btn {
  position: absolute;
  display: inline-block;
  top: 620px;
  left: 1100px;
  font-family: "Source Sans Pro";
  font-weight: 900;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 1em;
  border: 2px solid #ff2221;
  cursor: pointer;
  transition: all 0.5s;
}

.next-btn span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
}

.next-btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -6px;
  transition: 0.5s;
}

.next-btn:hover span {
  padding-right: 11px;
}

.next-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.puzzle-peice {
  position: absolute;
  top: 126px;
  left: 221px;
}

.storypopup {
  position: absolute;
  width: 600px;
  top: 350px;
  left: 300px;
  font-size: 1.3em;
  text-align: center;
}

body {
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Source Sans Pro";
  font-weight: 900;
  color: #ff2221;
}

p {
  font-family: "Source Sans Pro";
  color: #ffffff;
}

video {
  position: absolute;
  top: 0px;
  padding: 0px;
}

.logo {
  position: relative;
  width: 400px;
  height: 155px;
  left: 400px;
  top: 30px;
  padding-bottom: 30px;
  opacity: 1.0;
}

.menu {
  position: relative;
  left: 460px;
  top: 80px;
}
.menu a:link, .menu a:visited {
  display: block;
  text-decoration: none;
  float: left;
  width: 140px;
}
.menu h1 {
  font-size: 2em;
  text-align: center;
}

.hidden {
  display: none;
}
