body {
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: $SanPro;
  font-weight: 900;
  color: $Silicon-Red;
}

p {
  font-family: $SanPro;
  color: $White;
}

video {
  position: absolute;
  top: 0px;
  padding: 0px;
}

.logo {
  position: relative;;
  width: 400px;
  height: 155px;
  left: 400px;
  top: 30px;
  padding-bottom: 30px;
  opacity: 1.0;
}

.menu {
  position: relative;
  left: 460px;
  top: 80px;

  a:link, a:visited {
    display: block;
    text-decoration: none;
    float: left;
    width: 140px;
  }

  h1 {
    font-size: 2em;
    text-align: center;
  }
}

.hidden {
  display: none;
}
