%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
    %script{:type => "text/javascript" , :src => "js/scripts.js"}
  %body
    %header
      .container.hidden
        .stage#home.hidden
          %img{:alt => "TV show Logo", :src => "images/Logo.png", :class => "logo"}
          %section.menu
            %a{href: "#", :class => "#btn"}
              %h1 STORY
            %a{href: "page1.html"}
              %h1 START
          %section.storypopup.hidden
            %p You are playing the role of Richard Hendricks from the TV show Silicon Valley. You have been living in an incubator while working at large tech giant Hooli. In your spare time you have been building a music application that has taken the valley by storm. All of a sudden you are the next big startup and everyone wants a piece of you. Play the game and make decisions that could lead to Pied Piper winning one of the most respected startup conferences Tech Disrupt. Make the wrong decision and you may  well just be another name added to the list of failed startups that have fallen victim to the valley.
    %footer
      %h2 Copyright Graeme Bingham
