%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
  %body
    %header
      //%img{:alt => "Image of cast of Silicon Vally TV Show", :src => "images/main-bg.jpg", :class => "bg-img"}
      .container
        .stage
          %h1 Silicon Valley Interactive Game
          %section.menu
            %a{href: ""}Story
            %a{href: ""}Start
    %footer
      %h2 Copyright Graeme Bingham
