%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %script{:src => "myscripts.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Richard working", :src => "images/richard-working.jpg", :width => "1200px"}
          %p.dialog You make your way back to the incubator and you start to feel like you need to make a decision.
          %p.dialog Your two options are take the 10 million from Gavin Bellson and live out the rest of your days as a millionaire or go with Peter Gregory and get 200 hundred thousand and build the company the way you want it.
          %button{:type => "button",:class => "next-btn"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
