%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Richard working", :src => "images/richard-working.jpg", :width => "1200px"}
          %p.dialog Colleague 1: Richard what have you been workin on?
          %p.dialog Richard: Just a little music application
          %p.dialog Colleague 2: What does it do?
          %p.dialog Richard: It allows musicians to search a music database to allow them to find out if their music is infringing on someone else’s copy right. It’s pretty cool
          %p.dialog Colleague 2: Oh really, why don’t you send it to us so we can have a look.
          %p.dialog Richard: Sure I will send you the link.
          %p.dialog Colleague 1: Yeah like we are going to be doing that, we have btter things to do wiht our time.
          %button{:type => "button",:class => "next-btn"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
