%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
    %script{:src => "js/scripts9.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Richard working", :src => "images/screen-eight-1.png",  :class => "screen-img", :id => "img-1", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/screen-eight-2.png",  :class => "screen-img hidden", :id => "img-2", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/screen-eight-3.png",  :class => "screen-img hidden", :id => "img-3", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/screen-eight-4.png",  :class => "screen-img hidden", :id => "img-4", :width => "1200px"}


          %p.dialog#d1 Richard: We are really excited to get started Peter.
          %p.dialog#d2.hidden Peter: Have you got the business documentation yet?
          %p.dialog#d3.hidden Richard: No sorry we didn’t know we needed to give it to you yet.
          %p.dialog#d4.hidden Peter: This isn’t a game this is a business! I am not going to write a check for you until you get me a business plan or there will be no Pied Piper.

          %button{:type => "button",:class => "next-btn hidden", :id => "next-btn-9"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
