%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %script{:src => "myscripts.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Richard working", :src => "images/puzzle/puzzle-bg.jpg", :width => "1200px"}
          %img{:alt => "puzzle peice 8", :src => "images/puzzle/8.jpg", :class => "puzzle-peice", :id => "1"}
          %img{:alt => "puzzle peice 11", :src => "images/puzzle/11.jpg", :class => "puzzle-peice", :id => "2"}
          %img{:alt => "puzzle peice 3", :src => "images/puzzle/3.jpg", :class => "puzzle-peice", :id => "3"}
          %img{:alt => "puzzle peice 4", :src => "images/puzzle/4.jpg", :class => "puzzle-peice", :id => "4"}
          %img{:alt => "puzzle peice 13", :src => "images/puzzle/13.jpg", :class => "puzzle-peice", :id => "5"}
          %img{:alt => "puzzle peice 6", :src => "images/puzzle/6.jpg", :class => "puzzle-peice", :id => "6"}
          %img{:alt => "puzzle peice 1", :src => "images/puzzle/1.jpg", :class => "puzzle-peice", :id => "7"}
          %img{:alt => "puzzle peice 7", :src => "images/puzzle/7.jpg", :class => "puzzle-peice", :id => "8"}
          %img{:alt => "puzzle peice 5", :src => "images/puzzle/5.jpg", :class => "puzzle-peice", :id => "9"}
          %img{:alt => "puzzle peice 9", :src => "images/puzzle/9.jpg", :class => "puzzle-peice", :id => "10"}
          %img{:alt => "puzzle peice 16", :src => "images/puzzle/16.jpg", :class => "puzzle-peice", :id => "11"}
          %img{:alt => "puzzle peice 10", :src => "images/puzzle/10.jpg", :class => "puzzle-peice", :id => "12"}
          %img{:alt => "puzzle peice 15", :src => "images/puzzle/15.jpg", :class => "puzzle-peice", :id => "13"}
          %img{:alt => "puzzle peice 2", :src => "images/puzzle/2.jpg", :class => "puzzle-peice", :id => "14"}
          %img{:alt => "puzzle peice 12", :src => "images/puzzle/12.jpg", :class => "puzzle-peice", :id => "15"}
          %img{:alt => "puzzle peice 14", :src => "images/puzzle/14.jpg", :class => "puzzle-peice", :id => "16"}


          %p.dialog Help him finish up the user interface by re aranging the pictures in the correct order.
          //%p.dialog Help him finish the user interface
          %button{:type => "button",:class => "next-btn"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
