%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %script{:src => "js/scripts.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Richard working", :src => "images/richard-working.jpg", :width => "1200px"}
          %p.dialog You decided to go with Gavin Bellson, he makes you out a check for 10 million and you hand over you source code for you music application.
          %p.dialog You forget about Pied Piper and you move out to an island in the Caribbean on a tropical island. You spend the rest of your days drinking mojito’s and have a chilled out and relaxed time.
          %button{:type => "button",:class => "next-btn"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
