%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
    %script{:src => "js/scripts4.js"}
  %body
    %header
      .container
        .stage
          %video{:autoplay => "", :height => "675", :width => "1200"}
            %source{:src => "images/SiliconValley-S01E01-s1.mp4", :type => "video/mp4"}
              %source{:src => "movie.ogg", :type => "video/ogg"}
                Your browser does not support the video tag.
          %p.dialog This page is for the video
          //%p.dialog Help him finish the user interface
          %button{:type => "button",:class => "next-btn"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
