%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
    %script{:src => "js/scripts.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Richard working", :src => "images/richard-working.jpg", :width => "1200px"}
          %p.dialog#d1 Monica: Hey Richard! I am Monica Peter Gregory's assistant
          %p.dialog#d2.hidden Richard: Hi, yeah I remember from meeting you the other day.
          %p.dialog#d3.hidden Monica: Are you okay, you seem really stressed?
          %p.dialog#d4.hidden Richard: I am going to be honest this whole situation has been too much for me and right now I am leaning towards taking the money from Gavin.
          %p.dialog#d5.hidden Underneath the surface of you music application is one of the greatest algorithms that our engineering team has come across. Do you even realise how revolutionary it could be?
          %p.dialog#d6.hidden Monica: Your algorithm that you created could allow the medical industry to send large amounts of data across the internet in an instant. The number of positives uses that it could have on the world are almost limitless! Don’t you want to be in the drivers seat when that happens?
          %button{:type => "button",:class => "next-btn", :id => "next-btn-6"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
