%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
    %script{:src => "js/scripts3.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Colleges meeting", :src => "images/screen-three-1.png", :class => "screen-img", :id => "img-1", :width => "1200px"}
          %img{:alt => "Colleges meeting", :src => "images/screen-three-2.png", :class => "screen-img hidden", :id => "img-2", :width => "1200px"}
          %img{:alt => "Colleges meeting", :src => "images/screen-three-3.png", :class => "screen-img hidden", :id => "img-3", :width => "1200px"}
          %img{:alt => "Colleges meeting", :src => "images/screen-three-4.png", :class => "screen-img hidden", :id => "img-4", :width => "1200px"}
          %img{:alt => "Colleges meeting", :src => "images/screen-three-5.png", :class => "screen-img hidden", :id => "img-5", :width => "1200px"}
          %img{:alt => "Colleges meeting", :src => "images/screen-three-6.png", :class => "screen-img hidden", :id => "img-6", :width => "1200px"}
          %img{:alt => "Colleges meeting", :src => "images/screen-three-7.png", :class => "screen-img hidden", :id => "img-7", :width => "1200px"}

          %p.dialog#d1 Colleague 1: Richard what have you been workin on?
          %p.dialog#d2.hidden Richard: Just a little music application
          %p.dialog#d3.hidden Colleague 2: What does it do?
          %p.dialog#d4.hidden Richard: It allows musicians to search a music database to allow them to find out if their music is infringing on someone else’s copy right. It’s pretty cool
          %p.dialog#d5.hidden Colleague 2: Oh really, why don’t you send it to us so we can have a look.
          %p.dialog#d6.hidden Richard: Sure I will send you the link.
          %p.dialog#d7.hidden Colleague 1: Yeah like we are going to be doing that, we have btter things to do with our time.

          %button{:type => "button",:class => "next-btn hidden", :id => "next-btn-3"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
