%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
    %script{:src => "js/scripts8.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Richard working", :src => "images/richard-working.jpg",  :class => "screen-img", :id => "img-1", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/richard-working.jpg",  :class => "screen-img", :id => "img-1", :width => "1200px"}

          %p.dialog#d1 You decided to go with Gavin Belson, he makes you out a check for 10 million and you hand over you source code for you music application.
          %p.dialog#d2.hidden You forget about Pied Piper and you move out to an island in the Caribbean on a tropical island. You spend the rest of your days drinking mojito’s. Well done!
          %button{:type => "button",:class => "next-btn hidden", :id => "next-btn-8"}
            %span Finish
    %footer
      %h2 Copyright Graeme Bingham
