%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
    %script{:src => "js/scripts6.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Richard working", :src => "images/screen-six-1.png", :class => "screen-img", :id => "img-1", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/screen-six-2.png", :class => "screen-img hidden", :id => "img-2", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/screen-six-3.png", :class => "screen-img hidden", :id => "img-3", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/screen-six-4.png", :class => "screen-img hidden", :id => "img-4", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/screen-six-5.png", :class => "screen-img hidden", :id => "img-5", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/screen-six-6.png", :class => "screen-img hidden", :id => "img-6", :width => "1200px"}

          %p.dialog#d1 Monica: Hey Richard! I am Monica Peter Gregory's assistant
          %p.dialog#d2.hidden Richard: Hi, yeah I remember from meeting you the other day.
          %p.dialog#d3.hidden Monica: Are you okay, you seem really stressed?
          %p.dialog#d4.hidden Richard: I am going to be honest this whole situation has been too much for me and right now I am leaning towards taking the money from Gavin.
          %p.dialog#d5.hidden Underneath the surface of you music application is one of the greatest algorithms that our engineering team has come across. <br /> Do you even realise how revolutionary it could be?
          %p.dialog#d6.hidden Monica: Your algorithm that you created could allow the medical industry to send large amounts of data across the internet in an instant. <br /> The number of positives uses that it could have on the world are almost limitless! Don’t you want to be in the drivers seat when that happens?
          %button{:type => "button",:class => "next-btn hidden", :id => "next-btn-6"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
