%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Richard working", :src => "images/richard-working.jpg", :width => "1200px"}
          %p.dialog Richard is just finishing up with his music application Pied Pipper
          //%p.dialog Help him finish the user interface
          %button{:type => "button",:class => "next-btn"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
