%html
  %head
    %meta{:charset => "UTF-8"}
    %title Silcon Valley interactive game
    %meta{:name => "author", :content => "Graeme Bingham"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "css/style.css" }
    %link{:type => "text/css", :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900" }
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
    %script{:src => "js/scripts10.js"}
  %body
    %header
      .container
        .stage
          %img{:alt => "Richard working", :src => "images/screen-nine-1.png", :class => "screen-img", :id => "img-1", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/screen-nine-2.png", :class => "screen-img", :id => "img-2", :width => "1200px"}
          %img{:alt => "Richard working", :src => "images/screen-nine-3.png", :class => "screen-img", :id => "img-3", :width => "1200px"}
          %p.dialog#d1 Jared: Hi I am Jared from Hooli, today I saw you say no to 10 million dollars and I was really impressed and it made me so excited that I thought if you needed any business help I would love to be apart of Pied Piper
          %p.dialog#d2.hidden Richard: Well actually we are in desperate need of some business help so that could be really useful.
          %p.dialog#d3.hidden Jared: Oh wow really, well let me know when and where to get started and we will get this going!
          %button{:type => "button",:class => "next-btn",  :id => "next-btn-11"}
            %span Next
    %footer
      %h2 Copyright Graeme Bingham
